.todoItem {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: rgb(233, 234, 235);
  margin: 6px 4px;
  height: 40px;
  border-radius: 12px;
}

.todoItem p {
  flex: 1;
}

.todoItemDone {
  text-decoration: line-through;
}
